@page "/"
@inject HttpClient Http
<PageTitle>Reddit Challenge</PageTitle>

<h1>SubReddit stats</h1>

<RadzenStack Orientation="Orientation.Vertical">
	<RadzenDropDown Data="@Subreddits" TValue="string" Placeholder="Select a Subreddit" Style="width: 300px" />


</RadzenStack>


@code{

	IEnumerable<string> Subreddits = new List<string> { "r/csharp", "r/programminghumor", "r/technology", "r/science", "r/askreddit" };



}

